In [48]:
from pykrx import stock
import pandas as pd
import mplfinance as mpf
import numpy as np
import plotly.graph_objects as go
import plotly.subplots as ms
import plotly.express as px

매수 매도 타이밍

시나리오 1
1. 기존 보조지표들 중 가장 적절한(수익성 또는 안정성이 높았던) 지표 제안 

시나리오 2 
1. 여러 보조지표를 이용해서 강한 매수, 강한 매도 타이밍을 제안. (상위 2개의 지표의 겹치는 구간 룰 베이스) 

공통

자산 분배 방식 -> 올바른 습관 추천 ? 이건 공통으로 추천해줄 문제인가?

한종목에 올인 하는 방식 -> 안 좋았던 개인적인 경험 (보통 쭉 상승하면 팔게됨, 근데 상승하는 타이밍은 불규칙하기때문) -> 통계적으로 증명 -> 올바른 매매전략 제안  

여러 종목 투자하는 코드 짜기

In [49]:
# 전체 종목코드와 종목명 가져오기
stock_list = pd.DataFrame({'종목코드':stock.get_market_ticker_list(market="ALL")})
stock_list['종목명'] = stock_list['종목코드'].map(lambda x: stock.get_market_ticker_name(x))

In [50]:
# name_list = list(stock_list['종목명'])

dff = pd.DataFrame()
stock_from = "20210103" # 2249~2301
stock_to = "20220701"

stock_name = "HD현대"
ticker = stock_list.loc[stock_list['종목명']== stock_name, '종목코드']
df = stock.get_market_ohlcv_by_date(fromdate=stock_from, todate=stock_to, ticker=ticker)
# 칼럼명을 영문명으로 변경
df['name'] = name
df["종가"]=df["종가"].apply(pd.to_numeric,errors="coerce")
df = df.rename(columns={'시가':'Open', '고가':'High', '저가':'Low', '종가':'Close', '거래량':'Volume'})

In [53]:
df

             Open   High    Low  Close  Volume name
날짜
2021-01-04  57000  57000  55000  55300  134210  HRS
2021-01-05  55000  56800  54900  56500   96024  HRS
2021-01-06  57300  58000  56800  57100  127579  HRS
2021-01-07  57700  58200  57400  57700   81820  HRS
2021-01-08  58100  58300  56900  57100   99655  HRS
...           ...    ...    ...    ...     ...  ...
2022-06-27  59600  61600  59200  61300  219598  HRS
2022-06-28  61600  62100  61200  61700  217892  HRS
2022-06-29  59900  60800  58800  59300  236908  HRS
2022-06-30  59500  60400  58500  59400  195769  HRS
2022-07-01  59600  59900  57100  58000  307308  HRS

[370 rows x 6 columns]